$main-color: white;
$main-background: radial-gradient(
  circle,
  rgba(238, 174, 202, 1) 0%,
  rgba(148, 187, 233, 1) 100%
);

$main-sec-background: rgba(137, 30, 247, 0.5);

$main-font-family: "Sulphur Point", "arial", sans-serif;
$main-font-size: 20px;

$header-size: 2em;

$main-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
$main-border: 0.25em solid white;
$main-border-radius: 2.5em;
